.services {
    width: 100%;
    height: 800px;
    background-color: black;
}

.service_writeup {
    width: 40%;
    height: 300px;
    color: white;
    /* background-color: grey; */
    margin-top: 5%;
    margin-left: 5%;

}

.services_container {
    width: 85%;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 8%;
}

.services_img_div {
    width: 50%;
    height: 500px;
    margin-top: 5%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;

    }
}

.services_title span {

    font-size: 30px;
    color: var(--color-white);
    font-weight: var(--font-wgt);
}


.service_p {
    margin-top: 15px;
    font-size: 18px;
}







/* RESPONSIVENESS PHASE */
@media screen and (max-width: 768px) {

    .services{
        height: 1000px;
        padding-bottom: 10%;
    }
    .services_container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .service_writeup{
        width: 97%;
        height: 400px;
        text-align: center;
        margin-left: 1px;
    }

    .services_img_div {
        width: 95%;
        margin-left: 1%;
        margin-top: 12%;
    }
}