.home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding-left: 5%;
    padding-top: 5%;
    margin-top: 5%;
}

.home_writeup {
    width: 100%;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;    


    span,
    .welcome {
        font-size: 50px;
        margin-left: 5%;
        color: var(--color-white);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: var(--font-wgt);
    }

    .welcome {
        color: black;
        margin-left: 10px;
    }
}

.type-wrapper {
    display: inline-block;
    width: 80%;
    text-align: left;
    color: #d6d63c;
}





 


/* ================ RESPONSIVENESS PHASE ============== */
@media screen and (max-width: 768px) {
    .home_writeup {
        width: 95%;
        margin: auto;


        span,
        .welcome {
            font-size: 30px;
            margin-top: 15%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: var(--font-wgt);
        }

        .welcome {
            color: black;
            margin-left: 10px;
        }


        .type-wrapper {
            width: 100%;
            margin-top: 100%;
        }
    }

}