.contact {
    width: 100%;
    height: 800px;
    background-color: black;
    padding-top: 5%;
}

.contact_container {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    /* background-color: red; */
    gap: 15%;
}

.contact_img_div {
    width: 40%;
    height: 500px;

    img {
        border-radius: 20px;
        object-fit: cover;
    }
}


/* ============== FORM ============== */
.form_div {
    width: 40%;
    height: 500px;
}

.submit_btn {
    height: 60px;
    border-radius: 15px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-black);
    color: var(--color-primary);
    font-size: var(--font-sz);
    font-weight: var(--font-wgts);

}

.submit_btn:hover {
    background-color: var(--color-primary);
    color: var(--color-black);
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
}

.success-msg {
    color: #4BB543;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.error-msg {
    color: #ff4d4d;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.contact_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--color-primary);
    font-weight: var(--font-wgt);
}






/* RESPONSIVENESS PHASE */
@media screen and (max-width: 768px) {
    .contact_container {
        width: 100%;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 5%;
        background-color: white;
        gap: 1%;
    }

    .contact_img_div {
        width: 90%;
        margin: auto;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .form_div {
        width: 80%;
        margin: auto;
    }
}