header {
    width: 100%;
    height: 150px;
    background-color: black;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: -10px;
    z-index: 100;
}

.links {
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li a {
        text-decoration: none;
        font-size: var(--font-sz);
        color: var(--color-white);
        font-weight: var(--font-wgt);
    }
}

.logo {
    width: 200px;
    height: 100px;


    img {
        object-fit: cover;
        width: 200px;
        height: 100px;
    }
}
















/* RESPONSIVENESS PHASE */
@media screen and (max-width: 768px) {
    header {
        height: 100px;
        justify-content: space-between;
        padding: 2%;
    }

    .links {
        position: absolute;
        top: 64px;
        right: 0;
        background: #111;
        width: 100%;
        height: 500px;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .links.active {
        max-height: 500px;
    }

    .hamburger {
        display: block;

        .icon {
            color: var(--color-white);
            font-size: 35px;
            margin-right: 10px;
        }
    }

    .logo {
        width: 100px;
        height: 40px;

        img {
            object-fit: cover;
            width: 100px;
            height: 40px;
        }
    }
}