
.galleryBanner {
  width: 100%;
  height: 1000px;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: white;
  margin-top: 5%;
}

.galleryBanner .slider {
  position: absolute;
  width: 200px;
  height: 350px;
  top: 10px;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: atuoRun 20s linear infinite;
}

@keyframes atuoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.galleryBanner .slider .items {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.galleryBanner .slider .items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* .galleryBanner .content {
  position: absolute;
  bottom: 0;
  margin-top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */