.footer {
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-left: 5%;
    flex-wrap: wrap;
    flex-flow: row;

    div {
        width: 100px;
    }

    div,
    main,
    aside {
        width: 480px;
        height: 200px;

        img {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        color: var(--color-black);
        font-size: 19px;

        strong {
            font-size: 22px;
        }
    }

    aside {}
}












/* RESPONSIVENESS PHASE */
@media screen and (max-width: 768px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 60%;
        height: 800px;

        div{
            width: 70%;
            height: 100px;
            margin: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        main{
            width: 70%;
            height: 300px;
            margin: auto;
        }
    }
}