.footer {
    width: 100%;
    height: 400px;
    background-color: rgb(58, 58, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    flex-flow: row;

    div {
        width: 100px;
        /* background-color: grey; */
    }

    div,
    main,
    aside {
        width: 480px;
        height: 200px;

        img {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        color: var(--color-white);
        font-size: 19px;

        strong {
            font-size: 22px;
        }
    }

    aside {}
}












/* RESPONSIVENESS PHASE */
@media screen and (max-width: 768px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 60%;
    }
}