.footer {
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-left: 5%;
    flex-wrap: wrap;
    flex-flow: row;

    div {
        width: 100px;
    }

    div,
    main,
    aside {
        width: 480px;
        height: 200px;

        img {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        color: var(--color-black);
        font-size: 19px;

        strong {
            font-size: 22px;
        }
    }

    aside {

        .footer_socials {
            height: 50px;
            margin-top: 40px;
            width: 30%;
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-bottom: 4rem;
        }

        .footer_socials a {
            background: var(--color-bg);
            color: var(--color-white);
            padding: 10px;
            border-radius: 15px;
            display: flex;
            border: 1px solid transparent;
        }

        .footer_socials a {
            background: transparent;
            color: var(--color-bg);
            border-color: var(--color-bg);
        }

        .footer_copyright {
            width: 50%;
            color: black;
            text-align: center;
            font-weight: var(--font-wgt);
            font-size: 16px;
        }

        .footer_links {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            text-decoration: none;
        }

        .footer_links li a {
            color: black;
            text-decoration: none;
        }

    }
}












/* RESPONSIVENESS PHASE */
@media screen and (max-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 60%;
        height: 800px;
        margin-left: 1px;

        div {
            width: 70%;
            height: 100px;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        main,
        aside {
            width: 75%;
            height: 300px;
            margin: auto;
            font-size: 16px;

            strong {
                font-size: 18px;
            }
        }

        aside {
            font-size: 18px;

            .footer_links {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                text-decoration: none;
            }

            .footer_links li a {
                color: black;
                text-decoration: none;
            }


            .footer_socials {
                height: 50px;
                margin-top: 40px;
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin-bottom: 4rem;
            }

            .footer_socials a {
                background: var(--color-bg);
                color: var(--color-white);
                padding: 10px;
                border-radius: 15px;
                display: flex;
                border: 1px solid transparent;
            }

            .footer_socials a {
                background: transparent;
                color: var(--color-bg);
                border-color: var(--color-bg);
            }

            .footer_copyright {
                width: 100%;
                color: black;
                text-align: center;
                font-weight: var(--font-wgt);
                font-size: 16px;
            }


        }
    }
}