* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

:root {
    /* overflow-y: auto; */
    --color-primary: rgb(202, 202, 57);
    --font-sz: 16px;
    --font-wgt: 800;
    --color-white: white;
    --color-black: black;
}

html {
    scroll-behavior: smooth;
}